@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <table border="1" style="width:100%">
            <thead>
                <tr>
                    <td>Time</td>
                    <td>USD</td>
                    <td>GBP</td>
                    <td>EUR</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.GetAllPrice())
                {
                    <tr>
                        <td>@data.time.updatedISO</td>
                        <td>@data.bpi.USD.rate</td>
                        <td>@data.bpi.GBP.rate</td>
                        <td>@data.bpi.EUR.rate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>